body { font-family: Arial; background: #f4f6f9; text-align:center;}
form { background:white; padding:20px; margin:auto; width:300px;}
input, button { margin:10px; padding:10px;}
table { margin:auto; background:white; border-collapse:collapse;}
td, th { padding:10px; border:1px solid #ddd;}